USE [RELEASE]
GO
/****** Object:  Table [dbo].[MgtAplicacionCICD]    Script Date: 25/11/2022 16:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MgtAplicacionCICD](
	[IdAplicacion] [int] IDENTITY(1,1) NOT NULL,
	[CodAplicacion] [nchar](3) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[NombreCorto] [nvarchar](40) NOT NULL,
	[PdpUsuarioCreacion] [nvarchar](30) NOT NULL,
	[PdpFechaCreacion] [datetime] NOT NULL,
	[PdpUsuarioUltimaModificacion] [nvarchar](30) NOT NULL,
	[PdpFechaUltimaModificacion] [datetime] NOT NULL,
	[PdpEstado] [bit] NOT NULL,
	[PdpUltimaTransaccion] [nvarchar](15) NOT NULL,
	[PdpUltimaPcCliente] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MgtAplicacionCICD] PRIMARY KEY CLUSTERED 
(
	[IdAplicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MgtAplicacionCICD] ON 

INSERT [dbo].[MgtAplicacionCICD] ([IdAplicacion], [CodAplicacion], [Descripcion], [NombreCorto], [PdpUsuarioCreacion], [PdpFechaCreacion], [PdpUsuarioUltimaModificacion], [PdpFechaUltimaModificacion], [PdpEstado], [PdpUltimaTransaccion], [PdpUltimaPcCliente]) VALUES (221, N'CAT', N'SISTEMA DE CATASTRO', N'CATASTRO', N'CITURRALDEQ', CAST(N'2022-11-23T15:00:05.473' AS DateTime), N'CITURRALDEQ', CAST(N'2022-11-23T15:00:05.473' AS DateTime), 1, N'INIT', N'CITURRALDEQ')
INSERT [dbo].[MgtAplicacionCICD] ([IdAplicacion], [CodAplicacion], [Descripcion], [NombreCorto], [PdpUsuarioCreacion], [PdpFechaCreacion], [PdpUsuarioUltimaModificacion], [PdpFechaUltimaModificacion], [PdpEstado], [PdpUltimaTransaccion], [PdpUltimaPcCliente]) VALUES (222, N'COA', N'SISTEMA DE COACTIVA', N'COACTIVA', N'CITURRALDEQ', CAST(N'2022-11-23T15:00:05.473' AS DateTime), N'CITURRALDEQ', CAST(N'2022-11-23T15:00:05.473' AS DateTime), 1, N'INIT', N'CITURRALDEQ')
INSERT [dbo].[MgtAplicacionCICD] ([IdAplicacion], [CodAplicacion], [Descripcion], [NombreCorto], [PdpUsuarioCreacion], [PdpFechaCreacion], [PdpUsuarioUltimaModificacion], [PdpFechaUltimaModificacion], [PdpEstado], [PdpUltimaTransaccion], [PdpUltimaPcCliente]) VALUES (223, N'MFD', N'SISTEMA DE FIRMAS', N'FIRMAS', N'CITURRALDEQ', CAST(N'2022-11-23T15:00:05.473' AS DateTime), N'CITURRALDEQ', CAST(N'2022-11-23T15:00:05.473' AS DateTime), 1, N'INIT', N'CITURRALDEQ')
SET IDENTITY_INSERT [dbo].[MgtAplicacionCICD] OFF
GO
ALTER TABLE [dbo].[MgtAplicacionCICD] ADD  CONSTRAINT [DF_MgtAplicacionCICD_PdpFechaCreacion]  DEFAULT (getdate()) FOR [PdpFechaCreacion]
GO
ALTER TABLE [dbo].[MgtAplicacionCICD] ADD  CONSTRAINT [DF_MgtAplicacionCICD_PdpFechaUltimaModificacion]  DEFAULT (getdate()) FOR [PdpFechaUltimaModificacion]
GO
ALTER TABLE [dbo].[MgtAplicacionCICD] ADD  CONSTRAINT [DF_MgtAplicacionCICD_PdpEstado]  DEFAULT ((1)) FOR [PdpEstado]
GO
